@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(230, 230, 230);
}


.inner {
    width: 95%;
    margin: -10px;
}

#Kozofy-Logo {
    transition: 0.2s;
    position: relative;
    margin-top: 10px;
    left: 100px;
    cursor: pointer;
    height: 50px;
}

.menu {
    background-color: black;
    width: 100%;
    height: 75px;
    line-height: 75px ;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu, .inner, ul, li, a {
    position: relative;
    transition: 0.5s;
    color: white; 
    margin: auto;
    
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    position: relative;

    list-style: none;
    display:inline-block;
}

.menu, .inner, ul, li, a:hover{
    transition: 0.5s;
    color: #00d9ff;
    font-size: 19px;
}

.menu-gauche {  
    float:left;
}

.menu-droite {
    float:right;
}

.menu-connexion {
    float:right;
}

.menu-droite ul li a {
    text-decoration: none;
    padding: 0px;
    margin: 0px 10px;
}

.li1 {
    position: relative;
    left: 40px;
}
/* MAIN */
.main {
    top: 5px;
    width: 100%;
    height: 100%;
}

.main #fp {
    position: absolute;
    font-family: 'Rubik', sans-serif;
    font-size: 100px;
    letter-spacing: 5px;
    color: #00d9ff;
    top: 300px;
    margin-left:250px;
}

/* FOOTER */
.footer {
    z-index: 1;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 30%;
}

.logo-footer {
    position: relative;
    z-index: 1;
    margin-top: 50px;
    margin-left: 150px;
}

#kozofy {
    text-decoration: none;
    z-index: 1;
    position: absolute;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 42px;
    margin-left: 210px;
    margin-top: -96px;
}

#info {
    opacity: 0.6;
    z-index: 1;
    position: absolute;
    color: rgb(116, 116, 116);
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    margin-left: 610px;
    margin-top: -45px;
}

#real {
    z-index: 1;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin-left: 615px;
    margin-top: 10px;
}
#real:hover {
    text-decoration: underline #00d9ff;
    transition: 0.4s;
}

#ptsh{
    z-index: 1;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin-left: 615px;
    margin-top: 40px;
}

#ptsh:hover {
    text-decoration: underline #00d9ff;
    transition: 0.4s;
}

#contact{
    opacity: 0.6;
    z-index: 1;
    position: absolute;
    color: rgb(116, 116, 116);
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    margin-left: 1080px;
    margin-top: -45px;
}

#mail{
    z-index: 1;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin-left: 1080px;
    margin-top: 10px;
}

#mail:hover {
    text-decoration: underline #00d9ff;
    transition: 0.4s;
}

#tel {
    z-index: 1;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin-left: 1080px;
    margin-top: 40px;
}
#tel:hover{
    text-decoration: underline #00d9ff;
    transition: 0.4s;
}

#social{
    opacity: 0.6;
    z-index: 1;
    position: absolute;
    color: rgb(116, 116, 116);
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    margin-left: 1500px;
    margin-top: -45px;
}

#insta {
    z-index: 1;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin-left: 1500px;
    margin-top: 8px;
}

#insta:hover{
    text-decoration: underline #00d9ff;
    transition: 0.4s;
}

#twitter {
    z-index: 1;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin-left: 1500px;
    margin-top: 40px;
}

#twitter:hover{
    text-decoration: underline #00d9ff;
    transition: 0.4s;
}
.btn {
    z-index: 1;
    border: none;
    border-radius: 50px;
    position: relative;
    background-color: #00d9ff;
    width: 140px;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
    right: -175px;
}
/* RESEARCH BAR / TXT */
#how {
    position: absolute;
    font-family: 'Rubik', sans-serif;
    font-size: 70px;
    letter-spacing: 5px;
    color: black;
    top: 100px;
    margin-left:250px;
}
#search {
    position: relative;
    display: block;
    width: 500px;
    height: 50px;
    border-radius: 20px;
    left: 37%;
    top: 20%;
    border-color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
#loupe{
    position: relative;
    color: black;
    font-size: 34px;
    left: 34%;
    top: 15.5%;
}
/* AIDES UNDER SEARCH BAR */
#opt{
    position: relative;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    left: 18%;
    top: 250px;
    font-weight: bold;
}
#cmr {
    position: relative;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    left: 16.8%;
    top: 250px;
    cursor: pointer;
}
#cmr:hover{
    transition: 1s;
    font-size: 19px;
    left: 16.5%;
    text-decoration: black underline;
}
#compte {
    position: relative;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    left: 40%;
    top: 145px;
    font-weight: bold;
}
#mdp {
    position: relative;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    left: 40.5%;
    top: 145px;
    cursor: pointer;
}
#mdp:hover{
    transition: 1s;
    font-size: 19px;
    left: 40%;
    text-decoration: black underline;
}
#google {
    position: relative;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    left: 65%;
    top: 45px;
    font-weight: bold;
}
#ggl {
    position: relative;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    left: 67%;
    top: 45px;
    cursor: pointer;
}
#ggl:hover{
    transition: 1s;
    font-size: 19px;
    left: 66.5%;
    text-decoration: black underline;
}
/* IMG THINK HACKED? */
#sa {
    position: absolute;
    margin-top: 300px;
    margin-left: 250px;
    width: 550px;
    height: 500px;
}

#hack {
    position: absolute;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    margin-top: 20%;
    margin-left: 45%;
}
#tx {
    position: absolute;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-top: 27%;
    margin-left: 45%;
    font-weight: bold;
}
