/* NAVBAR & FOOTER CSS */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css";

body {
    background-color:grey ;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.inner {
    width: 95%;
    margin: 10px;
}

#Kozofy-Logo {
    position: relative;
    margin-top: 10px;
    left: 100px;
    cursor: pointer;
    height: 50px;
}


.menu {
    background-color: black;
    width: 100%;
    height: 75px;
    line-height: 75px ;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu, .inner, ul, li, a {
    transition: 0.5s;
    color: white; 
    margin: auto;
    
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    position: relative;

    list-style: none;
    display:inline-block;
}

.menu, .inner, ul, li, a:hover{
    transition: 0.5s;
    color: #00d9ff;
    font-size: 19px;
}

.menu-gauche {
    float:left;
}

.menu-droite {
    float:right;
}

.menu-connexion {
    float:right;
}

.menu-droite ul li a {
    text-decoration: none;
    padding: 0px;
    margin: 0px 10px;
}

.li1 {
    position: relative;
    left: 40px;
}






/* SIGN IN CSS */
section {
    width: 450px;
    height: 550px;
    background-color: whitesmoke;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50% , -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

#user {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -60px;
    left: 40%;
    border-radius: 50%;
}
h1 {
    font-family: 'Rubik', sans-serif;
    margin: -15px;
    padding: 0 0 50px;
    text-align: center;
    font-size: 22px;
}

input {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    height: 40px;
    color: black;
    font-size: 16px;
    outline: none;
}

label {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.checkbox #checkbox {
    position: relative;
    top: 5px;
    left: -5px;
    width: 25px;
    background: rgba(0, 0, 0, 0);
}

.checkbox-texte {
    color: black;
    position: relative;
    top: -44px;
    left: 30px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
}

#fog-pass {
    top: -15px;
    font-size: 10px;
    color: black;
}

.btn-sing-in {
    transition: 1s;
    position: relative;
    cursor: pointer;
    top:-190px;
    left: 200px;
    width: 200px;

    margin-bottom: 20px;
    height: 40px;
    border-radius: 20px;
    border-color:black ;
    box-shadow: inset 0 0 0 0 green;
    
    font-family: 'Rubik', sans-serif;
    font-size: 20px;

}

.btn-sing-in:hover{
    transition: 1s;
    cursor: pointer;
    color: black;
}

.btn-google {
    transition: 0.5s;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;

    cursor: pointer;
    position: relative;

    left: 3.5px;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    
    color: rgb(68, 68, 68);

    border-radius: 20px;
    border-color:rgb(68, 68, 68);
    background-color:white;
}

.btn-google:hover {
    transition: 0.5s;
    background-color:rgb(68, 68, 68) ;
    color: white;
}

.btn-FB {
    transition: 0.5s;

    font-size: 15px;
    font-family: 'Rubik', sans-serif;

    cursor: pointer;
    position: relative;

    left: 3.5px;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    
    color: white;

    border-radius: 20px;
    border-color: #3b5898;
    background-color: #3b5898 ;
}

.btn-FB:hover {
    transition: 0.5s;
    background-color: #516ca7 ;
}